aiosqlite==0.16.1
atlastk==0.12.10
atomicwrites==1.4.0
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
et-xmlfile==1.1.0
fastapi==0.63.0
fields==5.0.0
Flask==2.0.1
h11==0.12.0
idna==2.10
iniconfig==1.1.1
iso8601==0.1.14
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
MyApplication==0.1.0
numpy==1.20.3
openpyxl==3.0.7
packaging==20.9
pandas==1.2.4
pluggy==0.13.1
py==1.10.0
pydantic==1.8.1
pyparsing==2.4.7
pypika-tortoise==0.1.1
pytest==6.2.3
python-dateutil==2.8.1
python-multipart==0.0.5
pytz==2021.1
requests==2.25.1
six==1.16.0
starlette==0.13.6
templates==0.0.5
toml==0.10.2
tortoise==0.1.1
tortoise-orm==0.17.3
typing-extensions==3.7.4.3
urllib3==1.26.4
uvicorn==0.13.4
Werkzeug==2.0.1
